<?xml version="1.0" encoding="utf-8"?>
<settings>
  <category label="30000">
    <setting id="enabled" type="bool" label="30001" default="true"/>
    <setting id="autoplay_on_insert" type="bool" label="30002" default="true"/>
    <setting id="playback_mode" type="enum" label="30003" lvalues="30004|30005|30006" default="0"/>
    <setting id="sort_order" type="enum" label="30007" lvalues="30008|30009|30010" default="0"/>
    <setting id="scan_subfolders" type="bool" label="30011" default="true"/>
    <setting id="fullscreen" type="bool" label="30012" default="true"/>
    <setting id="repeat" type="bool" label="30013" default="true"/>
    <setting id="usb_delay" type="enum" label="30014" lvalues="30015|30016|30017|30018|30019|30020" default="2"/>
    <setting id="notifications" type="bool" label="30021" default="true"/>
    <setting id="debug_log" type="bool" label="30022" default="false"/>
    <setting id="manual_selected_files" type="text" default="[]" visible="false"/>
  </category>

  <category label="30050">
    <setting id="hls_enabled" type="bool" label="30051" default="false"/>
    <setting id="hls_url" type="text" label="30052" default="http://192.168.10.193:8080/hls/tv.m3u8"/>
    <setting id="hls_priority" type="enum" label="30053" lvalues="30054|30055|30056" default="0"/>
    <setting id="hls_retry_interval" type="enum" label="30057" lvalues="30058|30059|30060|30061" default="1"/>
    <setting id="hls_timeout" type="enum" label="30062" lvalues="30063|30064|30065" default="0"/>
  </category>
</settings>
